package models

import (
	"goravel/app/utils/local"
)

const TableName{upTableName} = "{tableName}"

type {upTableName} struct {
	ID            int64           `gorm:"column:id;primaryKey;autoIncrement:true" json:"id"` // comment ID
{paramString}
}

func (*{upTableName}) TableName() string {
	return TableName{upTableName}
}
