package models

import (
	"goravel/app/utils/local"
)

const TableName{upTableName} = "{tableName}"

type {upTableName} struct {
{paramString}
}

func (*{upTableName}) TableName() string {
	return TableName{upTableName}
}
