Route::group(['prefix' => '/{$camelizeTableName}'], function () {
        Route::post('/getList', [app\controller\Admin\{upTableName}Controller::class, 'getList']);
        Route::post('/getAll', [app\controller\Admin\{upTableName}Controller::class, 'getAll']);
        Route::post('/getOne', [app\controller\Admin\{upTableName}Controller::class, 'getOne']);
        Route::post('/add', [app\controller\Admin\{upTableName}Controller::class, 'add']);
        Route::post('/save', [app\controller\Admin\{upTableName}Controller::class, 'save']);
        Route::post('/delete', [app\controller\Admin\{upTableName}Controller::class, 'delete']);
    });
